.nav .nav_item1:hover .nav_item1_descr {
  color: #6017a3;
}
.nav .nav_item2:hover .nav_item2_descr {
  color: #6017a3;
}
.nav .nav_item3:hover .nav_item3_descr {
  color: #6017a3;
}
.nav .nav_item4:hover .nav_item4_descr {
  color: #6017a3;
}
.nav .nav_item5:hover .nav_item5_descr {
  color: #6017a3;
}
.nav .nav_item6:hover .nav_item6_descr {
  color: #6017a3;
}

